@model ProvaProjeto2.Models.Ferramenta

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes</h1>

<div class="tb-detalhes bg-light">
    <h4>Ferramenta</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeFerramenta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeFerramenta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Disponivel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Disponivel)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.FerramentaId">Editar</a> |
    <a asp-action="Index">Voltar</a>
</div>
